$bg-main: #1E5AFA;
$text-white: #fff;
$text-nav: #FAFAFA;
$text-dark: #000F37;
$text-small: #575757;
$text-signup: #011037;
$text-about: #313131;
$border-test: #E7EBEE;
$p-test: #5F7285;
$test-name: #1B263D;
$faq-red: #FD5757;
$sub-text: #FDFDFF;
$footer-text: #2E2E2E;